/*Estilo*/

@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@font-face {
	font-family: 'fontelogo';
	src: url("../fonts/bubblegum-sans-regular.otf");
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	max-width: 1423px;
	max-height: 1677.950;
	font-family: arial, sans-serif;
	background-color: #cecece;
	color: rgba(0,0,0.1);

}

#div-corpo {
	margin-right: 90px;
	margin-left: 90px;
	background-color: #ffffff ;
}

/*formatação cabeçalho*/

#div-cabacalho-titulo {
	position: relative;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid black;
}

img#icone-4 {
	position: absolute;
	top: 80px;
	left: 1100px;
}

img#logo {
	padding: 0px 0px 0px 20px;
	max-width: 600px;

}

header#cabacalho-titulo {
	max-width: 600px;
	padding: 10px;
	border-bottom: 1px solid black;
}

header#cabecalho-titulo h1 {
	font-family: 'fontelogo', cursive;
	font-size: 30pt;
	color: #606060;
	padding: 20px 20px 20px 20px ;
	max-width: 600px;
}

header#cabecalho-titulo h2 {
	font-size: 15px;
	color: #dddddd;
	padding: 0px 20px 0px 20px;
	max-width: 600px;
}

/*Formatação menu*/

nav#menu {
	list-style: none;
	position: absolute;
	margin-left: 560px;
	top: -20px;	
}

nav#menu ul {
	display: inline-block;
	list-style: none;
	text-transform: uppercase;
	padding: 20px;
}

nav#menu li {
	display: inline-block;
	background-color: #dddddd;
	padding: 8px;
	-webkit-transition: background-color 0.4s;
	-moz-transition: background-color 0.4s;
	-ms-transition: background-color 0.4s;
	transition: background-color 0.4s;
}

nav#menu li:hover {
	background-color: #606060;
}

nav#menu a {
	color: #000000;
	text-decoration:none;

}

nav#menu a:hover {
	color: #ffffff;
}

/*formatação h1 h2 h3 do top da section*/

#h1-titulo {
	font-family: 'fontelogo', sans-serif;
	font-size: 20pt;
	color:#888888;
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 30px 30px 0px 30px;
}

.direita {
	position: relative;
	font-size: 11px;
	color: #888888;
	padding: 0px 0px 0px 0px;
	margin-left: 1080;
}	

#h2-titulo {
	flex-direction: column;
	font-size: 13px;
	color: #cecece;
	background-color: white;
	padding: 30px 20px 0px 30px;
}

/*Foratção section*/

div#tv-radio {
	width: 900;
	height: 580;
	margin: auto;
	background: url("../img/radio-tv.png") no-repeat;
}

audio#musica {
	display: block;
	position: relative;
	width: 300px;
	height: 40;
	left: 574;
	top: 495;
	background-color: #43403d;
}

video#filme {
	display: block;
	position: relative;
	width: 470;
	height: 380;
	left: 60;
	top: 20;
	background-color: #18181a;
}



/*formatação rodapé*/

footer#rodape {
	clear: both;
	border-top: 1px solid #000000;
}

footer#rodape p {
	text-align: center;
	padding: 10px;
}
#rodape a {
	text-decoration: none;
}
